<p-organizationChart [value]="data">
  <ng-template let-node pTemplate="default">
    <div pDraggable="node" pDroppable="node" (onDragStart)="dragStart($event,node)" (onDragEnd)="dragEnd($event)" (onDrop)="dropNode($event, node)"><strong>{{node.label}}</strong></div>
  </ng-template>
  <ng-template let-node pTemplate="leaf">
    <div pDraggable="node" pDroppable="node" (onDragStart)="dragStart($event,node)" (onDragEnd)="dragEnd($event)" (onDrop)="dropNode($event, node)">{{node.label}}</div>
  </ng-template>
</p-organizationChart>